@page "/"
@using Models;
@inject Wordle.DAL.UnitOfWork UnitOfWork;

<PageTitle>Wordle</PageTitle>

<!-- TODO FOR TESTING UNCOMMENT AFTER DATA HAS BEEN ADDED -->
if( game == null)
{
    <h2>loading...</h2>
}
else
{
    <hr/>
    <Board />
}

@code{
    private Game? game;

    //Page load/initialise
    protected override async Task OnInitializedAsync()
    {
        game = await UnitOfWork.GamePlayerRepo.GetGameAsync();
    }
}
