@page "/"
@inject HttpClient Http

<PageTitle>Wordle</PageTitle>

<table class="table">
        <tbody>
            <!-- row 1 -->
            <tr class="rows row-cols-1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- row 2 -->
            <tr class="rows row-cols-2">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- row 3 -->
            <tr class="rows row-cols-3">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- ro4 4 -->
            <tr class="rows row-cols-4">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- ro4 5 -->
            <tr class="rows row-cols-5">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <!-- ro4 6 -->
            <tr class="rows row-cols-6">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>