@page "/"
@using Components;
@using Models;
@inject Wordle.DAL.UnitOfWork UnitOfWork

<PageTitle>Wordle</PageTitle>

@if( game == null)
{
    <h2>loading...</h2>
}
else
{
    <hr/>
    <Wordle.Components.Board />
}

@code{
    private Game? game;

    protected override async Task OnInitializedAsync()
    {
        game = await UnitOfWork.GamePlayerRepo.GetGameAsync();
    }
}
