<!-- Components/Rows -->
@using Components;
@using Wordle.Models;

 @code{
     private Models.Row row = new Models.Row();
 }

<div class="row comp">
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />
</div>

<style scoped>
    .row{
        margin: 0 auto;
        background-color: inherit;
        width: 100%;
    }
</style>