<!-- Components/Rows -->

<div class="row comp">
    <!-- Row 1 -->
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />

     <!-- Row 2 -->
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />

    <!-- Row 3 -->
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />

    <!-- Row 4 -->
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />

    <!-- Row 5 -->
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />

    <!-- Row 6 -->
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />
</div>

<style scoped>

</style>