<!-- Components/Square -->


@code {
    private Models.Square s = new Models.Square();
}

<div class="square" id="@s.Id" ></div>

<style scoped>
    .square {
        background-color: rgba(19, 19, 19, 0.79);
        border: none;
        width: 3rem;
        height: 3rem;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        /*line-height: 60px;*/
        cursor: pointer;
    }
    .square:hover {
        background-color: rgba(56, 56, 56, 0.79);
    }
</style>
