<!-- Components/Board -->
@using Wordle.ViewModel.Components
@using Wordle.ViewModel.Classes

@inject GameManager gameManager

<div class="board">
    @for (int i = 0; i < gameManager.NumberRows; i++)
    {
        <Row RowIndex=@i @ref="RowRef" />
    }
</div>

<style scoped>
    .board {
        margin: 0 auto;
        display: grid;
        grid-auto-rows: auto;
        background-color: rgba(19, 19, 19, 0.79);
        padding: 0;
        /* in px so it doesn't scale */
        width: 400px;
        height: 500px;
    }

    td {
        border: 1px solid red;
        padding: 0;
        margin: 0;
    }
</style>

@code {

    List<Row> RowRefs = new List<Row>();
    Row RowRef
    {
        set { RowRefs.Add(value); }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RowRefs[0].squareRefs[0].FocusAsync();
            //await RowRefs[0].;
        }
    }


}
