<!-- Components/Board -->
@using Wordle.ViewModel.Components

<div class="board"> 
    <Row />
    <Row />
    <Row />
    <Row />
    <Row />
    <Row />
</div>

<style scoped>
    .board {
        margin: 0 auto;
        display: grid;
        grid-auto-rows: auto;
        background-color: rgba(19, 19, 19, 0.79);
        padding: 0;
        /* in px so it doesn't scale */
        width: 400px;
        height: 500px;
    }
</style>

@code {

}
