<!-- Component/Key -->
@using Wordle.Model
@using Wordle.Model.GameLogic
@inject GameManager gameManager

<!-- HTML -->
<button class="key @CssClasses" @onclick="@OnClickHandler" maxlength="1"> @Letter </button>

<!-- CSS -->
<style scoped>
    .key{
        margin: 5px auto;
        height: 70px;
        width: 50px;
        border-color: rgba(80, 80, 80, 1);
        background-color: rgba(19, 19, 19, 0.79);
        color: white;
    }
</style>

<!-- CODE -->
@code {
    [Parameter]
    public int RowIndex { get; set; }

    [Parameter]
    public int ColumnIndex { get; set; }

    [Parameter]
    public string? CssClasses { get; set; }

    [Parameter]
    public EventCallback OnClickFinished { get; set; }

    [Parameter]
    public ElementReference[] KeyRef { get; set; }

    [Parameter]
    public string Letter { get; set; }

    private async void OnClickHandler( MouseEventArgs e)
    {
        //which key
        gameManager.Field[gameManager.CurrCol, gameManager.CurrRow] = Letter;
        gameManager.CurrCol++;

        foreach (string item in gameManager.Field)
        {
            Console.WriteLine(item);
        }
    }
}
