<!-- Components/Rows -->
@using Components
@using Wordle.Model

<div class="row comp">
    <Square />
    <Square />
    <Square />
    <Square />
    <Square />
</div>

<style scoped>
    .row {
        margin: 0 auto;
        background-color: inherit;
        width: 100%;
        height: 100%;
        color: white;
    }
</style>

@code {
    [Parameter]
    public Model.Square? square { get; set; }

}
