<!-- Components/Rows -->
@using Components


<div class="row comp"> 
    <Square id="sq1"/>
    <Square id="sq2"/>
    <Square id="sq3"/>
    <Square id="sq4"/>
    <Square id="sq5"/>
</div>

<style scoped>
    .row {
        margin: 0 auto;
        background-color: inherit;
        width: 100%;
        height: 100%;
    }
</style>

@code {

}
