<!-- Components/Square -->
@using Wordle.Model

<div class="square comp" @onclick="@Click">
    @if(sq != null)
    {
        if(Char.IsLetter(sq.Letter))
        {

        }
    }
</div>

<style scoped>
    .square {
        background-color: rgba(19, 19, 19, 0.79);
        border: none;
        box-sizing: border-box;
        width: 75px;
        height: 75px;
        margin: 2px 2px 2px 3px;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        border: 2px solid rgba(80, 80, 80, 1);
        cursor: pointer;
    }

        .square:hover {
            background-color: rgba(80, 80, 80, 1);
        }
</style>

@code {
    [Parameter]
    public Model.Square sq { get; set; }

    [Parameter]
    public Action<MouseEventArgs> ClickSquare { get; set; }

    [Parameter]
    public Action<KeyboardEventArgs> KeySquare { get; set; }

    public void Click( MouseEventArgs mouseEventArgs )
    {
        ClickSquare?.Invoke(mouseEventArgs);
    }

    //doesn't work
    public void Type( KeyboardEventArgs keyboardEventArgs )
    {
        KeySquare?.Invoke(keyboardEventArgs);
    }
}