<!-- Components/Rows -->
@code{
    private Models.Row r = new Models.Row();
    private List<Models.Square> sqs = new List<Models.Square>();
}

<div class="row comp" id="@r.Id">
    <Square /> @sqs.Add(this.);
    <Square />
    <Square />
    <Square />
    <Square />
    @r.SetSquares();
</div>

<style scoped>
    .square {
        background-color: inherit;
        border: none;
        width: calc(100% + 5)
        height: 3rem;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        /*line-height: 60px;*/
        cursor: pointer;
    }
    .square:hover {
        background-color: rgba(56, 56, 56, 0.79);
    }
</style>