<!-- Components/Square -->


@code {
    private Models.Square s = new Models.Square();
}

<div class="square" id="@s.Id" ></div>

<style scoped>
    .square {
        background-color: rgba(19, 19, 19, 0.79);
        border: none;
        box-sizing: border-box;
        /* 100: 5 = 20 */
        width: 20%;
        margin: 2px;
        height: 100%;
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        /*line-height: 60px;*/
        border: 2px solid rgba(153, 117, 173, 0.76);
        cursor: pointer;
    }

    .square:hover {
        background-color: rgba(56, 56, 56, 0.79);
    }
</style>
