@using Wordle.Model
@using Wordle.ViewModel.Components
@using Wordle.DAL

@*@inject Wordle.DAL.Repositories.UnitOfWork UnitOfWork*@
@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world(le)!</h1>

Welcome to your new app.

<Board />
@code{
    //UNCOMMENT LATER
    //private Game? game;

    ////Page load/initialise
    //protected override async Task OnInitializedAsync()
    //{
    //    game = await UnitOfWork.GamePlayerRepo.GetGameAsync();
    //}
}